<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://pinnpublic.dothome.co.kr/cdn/example-min.css">

</head>
<body>

    <header>
        <h1>keylog</h1>
    <ul>
        <li><a href="/tiles/admin/log.do">로그인</a></li>
    </ul>
    </header>

    <h1>오늘의 이슈</h1>

    <table>
        <tr>
            <th>사용자명</th>
            <th>제목</th>
            <th>내용</th>
            <th>좋아요</th>
            <th>댓글수</th>
            <th>등록날짜</th>

        </tr>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.username}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.content}"></td>
            <td th:text="${board.likeCount}"></td>
            <td th:text="${board.commentCount}"></td>
            <td th:text="${board.regDate}"></td>
        </tr>
    </table>


</body>
</html>





